
html {
 line-height: 1.2em;
 font-family: tahoma;
 font-size: 15px;
 text-align: center;
}
h1 {
  font-size: 30px;
  line-height: 2.4em;
}
h2 {
  font-weight: bold;
}
label {
display: block;
background-color: #f5ad69;
text-align: center;
}

@media screen and (min-width: 480px) {
label {
  display: inline-block;
  color: white;
  background-color: red;
  margin-right: 5px;
  font-size: 1.3em;
  width: 50%;
  margin: auto;
}

div {
  display: inline;

}
}
